[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dissimilarities"]
	path = dissimilarities
	url = https://github.com/edelweiss611428/dissimilarities
